@font-face {
    font-family: "wolfFont";
    src: url("wolfwhistleFont.otf")
}

body {
    background-color: darkseagreen;
    color: white;
    font-family: wolfFont, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: auto;
    margin: 0;
    
}

img {
    max-width: 80%;
    max-height: 50rem;
    
}

.linkText {
    position: absolute;
    top: 6rem;
    left: 3rem;
    bottom: 40%;
    background-color: lightgoldenrodyellow;
    width: 5rem;
    padding: 1rem;
    
}


.headerTitle {
    background-color: black;
    width: 100%;
    margin: 0;
}

.headerText {
    text-align: center;
    margin: 0;
}


.mainContainer {
    
    background-color: black;
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding:1rem;
}

      

#soundControl {
    cursor: pointer;
}